<!DOCTYPE html>
<html class="no-js" lang="en-US">

<head>
  <meta charset="UTF-8">
  <link rel="icon" href="#" type="image/x-icon" />
  <!--iOS/android/handheld specific -->
  <link rel="apple-touch-icon" href="png" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <title>Major and Minor Detailz</title>

  <style type="text/css">
    img.wp-smiley,
    img.emoji {
      display: inline !important;
      border: none !important;
      box-shadow: none !important;
      height: 1em !important;
      width: 1em !important;
      margin: 0 .07em !important;
      vertical-align: -0.1em !important;
      background: none !important;
      padding: 0 !important;
    }
  </style>


  <style id='stylesheet-inline-css' type='text/css'>
    body {background-color:#e7e5e6; }
        body {background-image: url();}
        input#author:focus, input#email:focus, input#url:focus, #commentform textarea:focus, .widget .wpt_widget_content #tags-tab-content ul li a { border-color:#38b7ee;}
        a:hover, .menu .current-menu-item > a, .menu .current-menu-item, .current-menu-ancestor > a.sf-with-ul, .current-menu-ancestor, footer .textwidget a, .single_post a, #commentform a, .copyrights a:hover, a, footer .widget li a:hover, .menu > li:hover > a, .single_post .post-info a, .post-info a, .readMore a, .reply a, .fn a, .carousel a:hover, .single_post .related-posts a:hover, .sidebar.c-4-12 .textwidget a, footer .textwidget a, .sidebar.c-4-12 a:hover { color:#38b7ee; } 
        .nav-previous a, .nav-next a, .header-button, .sub-menu, #commentform input#submit, .tagcloud a, #tabber ul.tabs li a.selected, .featured-cat, .mts-subscribe input[type='submit'], .pagination a, .widget .wpt_widget_content #tags-tab-content ul li a, .latestPost-review-wrapper { background-color:#38b7ee; color: #fff; }
  </style>

  

  <script type='text/javascript'>
    /* <![CDATA[ */
    var title = {"unfolded":"Expand","folded":"Collapse"};
    /* ]]> */
  </script>

</head>

<body id="blog" class="home blog main">


  <div id="page" class="home-page">
    <div class="content">
      <div class="article">
        <h3 class="frontTitle"><div class="latest">Articles</div></h3>
        <article class="pexcerpt0 post excerpt ">
          <a href="#" title="#" rel="nofollow" id="featured-thumbnail">
            <div class="featured-thumbnail">  <%= image_tag("willkyles.jpg", :alt => " a picture of will kyles")%>
</div>
            <div class="featured-cat">Podcast</div>
          </a>
          <header>
            <h2 class="title">
              <a href="#" title="#" rel="bookmark">How To Validate Your Business and Product Ideas Before Spending a DIME w</a>
            </h2>
            <div class="post-info"><span class="theauthor"><a rel="nofollow" href="#" title="Posts by will kyles" rel="author">Will Kyles</a></span> | <span class="thetime">January 30, 2017</span></div>

          </header>
          <!--.header-->
          <div class="post-content image-caption-format-1">
            Does the state of your personal health and happiness really impact your ceiling for success in business? journey over the last couple </div>
          <span class="readMore"><a href="#" title="#" rel="nofollow">Read More</a></span>
        </article>
        <article class="pexcerpt1 post excerpt last">
          <a href="#" title="#" rel="nofollow" id="featured-thumbnail">
            <div class="featured-thumbnail">
                 <%= image_tag("willkyles.jpg", :alt => " a picture of will kyles")%>



            </div>
            <div class="featured-cat">Podcast</div>
          </a>
          <header>
            <h2 class="title">
              <a href="#" title="#" rel="bookmark">Blog Reviews</a>
               <% @articles.each do |article | %>

               <%= truncate article.title, length:30 %>

            </h2>
            <div class="post-info"><span class="theauthor"><a rel="nofollow" href="#" title="#" rel="author">Will Kyles</a></span> | <span class="thetime">January 27, 2017</span></div>

          </header>
          <!--.header-->
          <div class="post-content image-caption-format-1">
          
      <%= truncate article.text, length: 300 %>

           </div>
           <%= link_to 'Edit', edit_article_path(article) %>
          <%= link_to 'Destroy', article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
          <span class="readMore"><a href="#" title="#" rel="nofollow">Read More</a></span>
        </article>
        <article class="pexcerpt2 post excerpt ">
          <a href="#" title="#" rel="nofollow" id="featured-thumbnail">
            <div class="featured-thumbnail">  <%= image_tag("willkyles.jpg", :alt => " a picture of will kyles")%>
</div>
            <div class="featured-cat">Podcast</div>
          </a>
          <header>
            <h2 class="title">
              <a href="#" title="" rel="bookmark">The 5 Steps to Get Unstuck and Make Your First $500 by Next Week</a>
            </h2>
            <div class="post-info"><span class="theauthor"><a rel="nofollow" href="#" title="Will Kyles" rel="author">Will Kyles</a></span> | <span class="thetime">January 25, 2017</span></div>

          </header>
          <!--.header-->
          <div class="post-content image-caption-format-1">
            So many people make excuses for why they can’t get started in private label or e-commerce sales. And one of the BIGGEST excuses you hear has to do </div>
          <span><%= link_to 'See More', article_path(article) %></span>
          <% end %>
        </article>

      </div>
      <aside class="sidebar c-4-12">
        <div id="sidebars" class="sidebar">
          <div class="sidebar_list">
            <li id="search-3" class="widget widget-sidebar widget_search">
              <a id="searchform" class="search-form"></a>
              <a>
                <a type="text" name="s" id="s">PODCASTS</a>
                <a id="search-image" class="sbutton" style="border:0; vertical-align: top;">

                </a>
                </form>
            </li>
            <li id="text-9" class="widget widget-sidebar widget_text">
              <div class="textwidget">
                <center><a href="#"><iframe class="attachment-featured size-featured wp-post-image" height="202" src="https://www.youtube.com/embed/xIiohU6fWuA" title="" width="300" allowfullscreen></iframe></a></div>
            </li>
            <li id="text-10" class="widget widget-sidebar widget_text">
              <div class="textwidget">
                <center><a href="#"><iframe class="attachment-featured size-featured wp-post-image" height="202" src="https://www.youtube.com/embed/xIiohU6fWuA" title="" width="300" allowfullscreen></iframe></a></div>

          </div>
          <!--sidebars-->
      </aside>
      </div>
      <!--.content-->
    </div>
    <!--#page-->

  </div>

 


        


            
              






</body>

</html>




 


































































   











