


 <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">
<% @articles.each do |article | %>
              
                        <h2 class="post-title">
                          <%= truncate article.title, length:30 %>
                          
                        </h2>          
            
      
      <%= truncate article.text, length: 300 %>
      <%= link_to 'Show', article_path(article) %>
      <%= link_to 'Edit', edit_article_path(article) %>
      <%= link_to 'Destroy', article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
  
  <% end %>
                <!-- First Blog Post -->
              
                <!-- Second Blog Post -->
               

                <!-- Third Blog Post -->
                
              
            </div>

            <!-- Blog Sidebar Widgets Column -->
            


                       
                        <!-- /.col-lg-6 -->
                    </div>
                    <!-- /.row -->
                </div>

               
        </div>
        <!-- /.row -->

        <hr>



























  

  
